#ngImg{
	width: 70px;
	position: fixed; top: 5px; right: 5px;
}

.main{
	border: 1px inset teal;
	/*float: left;*/
	padding: 15px;
	margin: auto;
}
.main h1{
	text-align: center;
}

.profile-box{
	width: 700px;
	border: 1px outset goldenrod;
	border-radius: 10px;
	margin: auto auto;
}

app-profile-img{
	display: inline-block;
	margin: 2px;
	/*border: 3px outset yellow;*/
	padding: 2px;
	float: left;
}
app-profile-img:last-child{
	/*clear: right;*/
	margin-bottom: 10px;
}
h2{
	display: inline-block;
}
br:last-of-type{
	clear: both;
}
