#ngImg{
	width: 30px;
	position: fixed; top: 5px; right: 5px;
}

app-des-cour-comp1{
	border: 1px inset teal;
}

app-profile-img{
	display: inline-block;
	margin: 2px;
	/*border: 3px outset yellow;*/
	padding: 2px;
}